@charset "UTF-8";

/*@FONT FACE*/
@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*OPENSANS*/
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* FILTROS */
.opacity-7{
	opacity:.7;
	filter:alpha(opacity=70);
	-moz-opacity:.7;
	opacity:.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70)
}
.opacity-8{
	opacity:.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80)
}

/*!!!!! ATENCAO - Dar um replace na cor #B51600 pela cor sobresaente no site*/

/*BOTOES======================*/
/* videos */
.bt-up,.bt-down{ 
	background-color:#E1751A;
	color:#FFF;
}
.bt-up.disabled,.bt-down.disabled{
	background-color:#DDD;
	color:#FFF;
}
.btn-custom {
	border-color: #E1751A;
	background-color:#E1751A;
	color: #FFF;
}
.btn-custom:hover,
.btn-custom:focus {
	background-color: #E1751A;  
	color: #FFF;
}
.btn-custom:active,
.btn-custom.active {
	background-color:#E1751A;
	border-color: #E1751A;  
	color: #FFF;
}
/*IMG HOVER ======================*/
a:hover .thumbnail, a.thumbnail:hover,
a:hover .img-thumbnail, a.img-thumbnail:hover{
	border-color: #E1751A !important;
}

/*PAGINACAO========================*/
.pagination > li > a, 
.pagination > li > span {
	color: #222;
}

/* cor dos textos dos boxes */

.box-xs-3 h2,
.box-xs-6 h2,
.box-xs-12 h2,
.box-xs-12-p h3{
	color: #000;
	text-align: center;
}

.box-xs-3 p,
.box-xs-6 p,
.box-xs-12 p,
.box-xs-12-p p{
	color: #000;
}

.list-group a{
	color: #777;
}

/*PAGE WRAPER==========================*/

html,body{
	width: 100%;
	height:100%;
	/*overflow-x: hidden;*/
}
.wrapper{
	margin-bottom:-463px;/*Tamanho do rodape*/
	min-height:100%;
	padding-bottom: 463px;
}

/*BANNER E SEUS RELATIVOS==============*/
.area-banner {
	padding: 0;
	position:relative;
	width: 100%; height: auto; /*TAMANHO DA IMAGEM DO BANNER*/
}
.banners{
	z-index: 1;
	width: inherit;
	height: inherit;
	overflow: hidden;
	position: absolute;
}
.banners a{
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	height: inherit;
	width: inherit;
}
#banner-nav {
	padding-top: 29.95%; /* altura banner / largura banner*/
	margin: 0 auto;
	height: 24px;
	margin-bottom: -24px;
	position: relative;
	text-align: center;
	top: -50px;
}
#banner-nav span {
	background-position: 0px -75px;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 24px;
	margin: 0 7px;
	position: relative;
	width: 20px;
	z-index: 1;
}
#banner-nav .cycle-pager-active {
	background-position: -20px -75px;
}

.banner-nav {
	padding-top: 29.95%; /* altura banner / largura banner*/
	margin-top: -29.95%; /* altura banner / largura banner*/
	margin-left: auto;
	margin-right: auto;
	max-width: 970px;
	position: relative;
}

#banner-prev,
#banner-next {
	height: 46px;
	background-image: url(../imagens/sprites.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 23px;
	z-index: 1;
}
#banner-prev {
	background-position: 0 -27px;
	left: 0;
}
#banner-next {
	background-position: -23px -29px;
	right: 0;
}
@media (min-width: 992px) {
	#banner-prev:hover,
	#banner-next:hover {
		background-color: #41a5dc;
		border: 20px solid #41a5dc;
		cursor: pointer;
		height: 86px;
		width: 63px;
	}
	#banner-prev:hover {
		left: -20px;
	}
	#banner-next:hover {
		right: -20px;
	}
}
/*** fim das preconfiguracoes do starter */

/* faca aqui o melhor css ja visto antes */
body, p {
	color: #010101;
	font-family: 'OpenSansRegular';
	font-size: 15px;
}
h1, h2, h3, h4 {
	font-family: 'latolight', sans-serif;
}
iframe {
	border: none;
}
body, p, h1, h2, h3, th, td {
	line-height: 120%;
}
p {
	margin-bottom: 15px;
}
.btn {
	transition: all .25s ease-out;
}
.btn:active {
	transform: scale(.95);
}
.wrapper > article.container,
.wrapper > section.container {
	margin-bottom: 100px;
}
.no-padding {padding: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
#banner-nav span,
.cycle-pager a,
.icone {
	background-image: url(../imagens/sprites.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.icone.endereco {
	background-position: 0px 0px;
	height: 27px;
	width: 18px;
}
.icone.telefone {
	background-position: -18px 0px;
	height: 27px;
	width: 25px;
}
.icone.horario {
	background-position: -43px 0px;
	height: 29px;
	width: 29px;
}
.icone.calendario {
	background-position: -72px 0px;
	height: 26px;
	width: 26px;
}

.middle {
	bottom: 0;
	margin-bottom: auto;
	margin-top: auto;
	position: absolute;
	top: 0;
}

/* TOPO */
#topo {
	background-color: #41a5dc;
	position: relative;
	z-index: 10;
}
#topo .area-contato {
	background-color: #006093;
	border-bottom: 1px solid #61bff3;
	padding-top: 28px;
}
#topo .area-contato,
#topo .area-contato a {
	color: #FFF;
}

#topo .area-contato span,
#topo .area-contato .redes-sociais,
#topo .area-contato .visite {
	padding: 27px 0;
	font-size: 12px;
}
#topo .area-contato span {
	color: #63BBEC;
	display: block;
	position: relative;
	padding-left: 40px;
}
#topo .area-contato span a {
	color: #63BBEC;
}
#topo .area-contato span .icone {
	left: 8px;
}
#topo .area-contato strong {
	display: block;
	font-family: 'playfair_displaybold', serif;
	font-size: 13px;
}

#topo .area-contato .redes-sociais {
	font-size: 18px;
	text-align: center;
}
#topo .area-contato .redes-sociais a {
	display: inline-block;
	margin: 0 10px;
}

#topo .area-contato .visite {
	background-color: #41a5dc;
	letter-spacing: -0.5px;
	padding-left: 65px;
	padding-right: 40px;
	position: relative;
	display: block;
}
#topo .area-contato .visite .icone {
	left: 20px;
}

#topo .logo-menu {
	padding-top: 37px;
}

#topo .col-logo {
	padding-left: 10px;
	padding-right: 10px;
}
#logo {
	display: inline-block;
	margin: 0 0 27px 23px;
}

#topo .atendimento {
	color: #FFF;
	font-family: 'josefin_sansbold', sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 37px;
	margin-top: 16px;
	text-align: right;
}
#topo .atendimento a {
	color: #FFF;
}

#menu {
	margin-right: 0;
	position: relative;
}
#menu ul {
	display: none;
	list-style-type: none;
	margin: 10px auto;
	padding: 0;
	text-align: right;
}
#menu ul.active {
	display: block;
}
#menu > ul > li {
	display: block;
	padding: 0 1px;
}
#menu > ul > li > a {
	border-radius: 5px;
	color: #FFF;
	display: block;
	font-family: 'playfair_displaybold', serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 35px;
	padding: 0 8px;
	position: relative;
	text-decoration: none;
	transition: all .3s linear;
}
#menu > ul > li > a:hover,
#menu > ul > li.active > a {
	background-color: #005F93;
	box-shadow: 1px 1px 4px rgba(0,0,0,.2) inset, 0px 1px 2px rgba(255,255,255,.2);
}
#menu #btn-mobile-menu {
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: #FFF;
	font-size: 27px;
	line-height: 50px;
	padding: 0 5px;
	position: absolute;
	right: 5px;
	top: 15px;
	z-index: 810;
}
#menu #btn-mobile-menu:hover,
#menu #btn-mobile-menu:active,
#menu #btn-mobile-menu:focus {
	color: #FFF;
	outline: none;
}

/* HOME */
header h1,
header h2,
header h3{
	color: #212324;
	font-family: 'playfair_displaybold', serif;
	margin: 0;
}
.section-header h2 {
	color: #395567;
	font-size: 24px;
	margin-bottom: 5px;
}
.section-header p {
	color: #193546;
	font-size: 13px;
}

.area-bem-vindo {
	background-color: #f2f2f2;
	margin-bottom: 60px;
	padding-bottom: 20px;
	padding-top: 89px;
}
.area-bem-vindo .section-header {
	position: relative;
}
.area-bem-vindo .section-header h1 {
	color: #212324;
	font-size: 24px;
}
.area-bem-vindo h2 {
	color: #212324;
	font-family: playfair_displayregular, serif;
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 0;
}
.area-bem-vindo .chamada {
	padding-left: 40px;
}
.area-bem-vindo .chamada p {
	font-family: 'latoregular', OpenSansRegular, sans-serif;
	color: #434343;
	font-size: 13px;
	line-height: 130%;
}

.cycle-slideshow {
	margin-left: auto;
	margin-right: auto;
	transition: all .5s linear;
}

.area-cuidamos {
	margin-bottom: 40px;
}
.area-cuidamos .section-header {
	margin-bottom: 45px;
}

.cycle-cuidamos {
	width: 298px;
}
.box-cuidamos,
.cycle-cuidamos .item {
	display: inline-block;
	vertical-align: top;
	width: 298px;
}
@media (min-width: 480px) {
	.cycle-cuidamos {
		width: 298px;
	}
}
@media (min-width: 768px) {
	.cycle-cuidamos {
		width: 600px;
	}
	.cycle-cuidamos .item {
		margin-right: 2px;
	}
}
@media (min-width: 992px) {
	.cycle-cuidamos {
		width: 900px;
	}
}
@media (min-width: 1200px) {
	.cycle-cuidamos {
		width: 1140px;
	}
	.cycle-cuidamos .item {
		margin-right: 82px;
	}
}
.box-cuidamos > a,
.cycle-cuidamos .item > a {
	color: #395567;
	display: block;
	text-decoration: none;
	height: 246px;
}
.box-cuidamos figure,
.cycle-cuidamos .item figure {
	margin-bottom: 20px;
	padding-bottom: 5px;
	position: relative;
}
.box-cuidamos figure:after,
.cycle-cuidamos .item figure:after {
	background-color: #dedede;
	bottom: 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	width: 67px;
}
.box-cuidamos .nome,
.cycle-cuidamos .item .nome {
	font-family: 'OpenSansBold', sans-serif;
	font-size: 17px;
	margin-bottom: 20px;
}
.box-cuidamos a:hover .nome,
.cycle-cuidamos .item a:hover .nome {
	color: #218DFF;
}
.box-cuidamos .chamada,
.cycle-cuidamos .item .chamada {
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 13px;
	line-height: 120%;
	height: 60px;
	overflow: hidden;
	white-space: normal;
}
#pager-cuidamos {
	padding: 0 0 15px 0;
	text-align: center;
}
#pager-cuidamos span {
	background-color: #FFF;
	border: 1px solid #41A5DC;
	box-shadow: 0px 0px 8px rgba(65,165,220,.4);
	border-radius: 50%;
	color: transparent;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	height: 12px;
	margin: 0 10px;
	transition: all .2s ease-out;
	width: 12px;
}
#pager-cuidamos .cycle-pager-active {
	background-color: #41A5DC;
}

.area-noticias .section-header,
.chamada-videos .section-header {
	border-bottom: 6px solid rgba(153,153,153,.2);
	margin-bottom: 30px;
}
.area-noticias,
.chamada-videos {
	margin-bottom: 60px;
}

.area-noticias .noticia,
.area-noticias .noticia a,
.chamada-videos .video,
.chamada-videos .video a {
	color: #333;
}
.area-noticias .noticia.noticia-destaque {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.area-noticias .noticia h3 {
	font-family: 'robotoblack', sans-serif;
}
.area-noticias .noticia a:hover,
.chamada-videos .video a:hover {
	color: #41a5dc;
	text-decoration: none;
}
.area-noticias .noticia footer {
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	color: #999;
	font-size: 16px;
	line-height: 25px;
	padding: 3px 0;
}
.area-noticias .noticia.noticia-destaque footer {
	border-bottom: none;
	border-top: none;
}
.area-noticias .noticia footer a,
.chamada-videos .video footer a {
	color: #999;
	margin: 0 5px;
}
.area-noticias .noticia .data {
	color: #333;
	font-family: 'robotolight', sans-serif;
	font-size: 12px;
	line-height: 25px;
}
.area-noticias .noticia .data time {
	font-family: 'robotoblack', sans-serif;
}
.area-noticias .noticia .data .fa {
	margin-right: 5px;
}
.area-noticias .noticia header span {
	color: #395567;
	font-family: 'robotoblack', sans-serif;
	font-size: 14px;
}
.area-noticias .noticia p {
	color: #656565;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 14px;
	line-height: 120%;
	height: 54px;
	overflow: hidden;
}
.area-noticias .noticia {
	margin-bottom: 20px;
}

.chamada-videos .video {
	border-bottom: 1px solid #e1e1e1;
	font-size: 11px;
	margin-bottom: 10px;
}
.chamada-videos .video-destaque,
.chamada-videos .video:last-child {
	border-bottom: none;
}
.chamada-videos .video .row > div:first-child {
	padding-right: 0;
}
.chamada-videos .data,
ul.leia-tambem li .data {
	color: #999;
	display: block;
	font-family: 'robotoblack', sans-serif;
	font-size: 10px;
	line-height: 25px;
}
.chamada-videos .video-destaque .data {
	font-size: 12px;
}
.chamada-videos .data time {
	font-family: 'robotolight', sans-serif;
}

.chamada-videos .video-destaque figure {
	position: relative;
}
.chamada-videos .video-destaque figure figcaption {
	align-items: flex-end;
	color: #FFF;
	display: flex;
	font-family: 'robotoblack', sans-serif;
	font-size: 22px;
	height: 100%;
	left: 0;
	line-height: 120%;
	padding: 15px 20px;
	position: absolute;
	top: 0;
	width: 100%;
}
.chamada-videos .video h3 {
	color: #333;
	font-family: 'robotoblack', sans-serif;
	font-size: 19px;
	margin-top: 0;
}
.chamada-videos .video footer {
	color: #999;
	font-size: 16px;
	line-height: 25px;
	padding: 3px 0;
}

.area-cine {
	background: url(../imagens/fundo-area-inferior.png) no-repeat right bottom;
	padding-bottom: 60px;
}
@media (max-width: 991px) {
	.area-cine {
		background-size: 100%;
		padding-bottom: 400px;
	}
}
.area-cine .section-header {
	margin-bottom: 30px;
}
.area-cine header h3 {
	border-bottom: 6px solid rgba(153,153,153,.2);
	color: #395567;
	font-family: 'playfair_displaybold', serif;
	font-size: 53px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.icone.cine {
	background-position: -98px 0;
	height: 50px;
	width: 50px;
}
.area-cine p {
	color: #656565;
	font-size: 15px;
}
a.btn-primary {
	background-color: #41A5DB;
	border: none;
	box-shadow: 0 -3px 0px #197AB0 inset;
	font-family: 'playfair_displaybold', serif;
	font-size: 15px;
	height: 42px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 42px;
}
/* INTERNAS*/
.page-header {
	background-image: url(../imagens/fundo-page-header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	height: 412px;
	padding-top: 188px;
	margin-top: 0;
	position: relative;
}
.page-header h1 {
	color: #FFF;
	font-family: 'playfair_displaybold', sans-serif;
	font-size: 50px;
	position: relative;
}
.page-header h1:before {
	width: 67px;
	height: 4px;
	background-color: #fff;
	content: '';
	position: absolute;
	left: 0;
	top: -10px;
}
.page-header p {
	color: #FFF;
	font-family: 'playfair_displayitalic', serif;
	font-size: 16px;
	margin-bottom: 60px;
}
.page-header .voce-esta {
	background-color: #41A5DB;
	float: right;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 13px;
	padding: 12px 15px;
	color: #FFF;
	text-align: justify;
}
.page-header .breadcrumb {
	background: transparent;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.page-header .breadcrumb li,
.page-header .breadcrumb li a {
	color: #FFF;
}
.page-header .breadcrumb li:last-child a {
	color: #005F93;
	font-family: 'OpenSansBold', sans-serif;
}
.page-body p {
	color: #444444;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 15px;
}
.page-list .box-xs-12,
.page-list .box-xs-12-p {
	border-radius: 2px;
	padding: 10px 5px;
	margin-bottom: 10px;
}
.page-list .box-xs-12-p a {
	display: block;
	text-decoration: none;
}
.page-list .box-xs-12-p:before,
.page-list .box-xs-12-p:after {
	clear: both;
	content: '';
	display: table;
}
.page-list .box-xs-12:hover,
.page-list .box-xs-12-p:hover {
	background-color: rgba(0,0,0,.1);
}
h2.titulo-descricao {
	color: #000;
	font-family: 'latolight', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.page-list li h3 {
	color: #000;
	font-family: 'latolight', sans-serif;
	font-size: 14px;
}
.page-list li a {
	text-decoration: none;
}
.page-list li p {
	color: #000;
	font-size: 13px;
}
.page-list .box-xs-12 .col-md-3 figure,
.page-list .box-xs-12-p .col-md-3 figure {
	border: 0;
	border-radius: 20px;
	padding: 0;
	height: 160px;
	width: 220px;
}

.miniatura {
	border: none;
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
}
.miniatura img {
	left: 0;
}
.panel-title {
	text-align: right;
}
.pagination {
	background-color: #FFFFFF;
}
.pagination a {
	font-size: 12px;
}
.pagination>li>a:hover {
	border-color: #CCC;
}
.pagination>li>a,
.pagination>li>span {
	background-color: transparent;
	border-color: #CCC;
	color: #000;
	font-size: 12px;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background-color: #3791c5;
	border-color: #CCC;
	color: #FFF;
	font-size: 12px;
}
.form-group {
	margin-bottom: 14px;
}
.form-group:before,
.form-group:after {
	clear: both;
	content: '';
	display: table;
}

.form-control {
	border-color: #dbdbdb;
}
.form-control.input-lg {
	font-size: 12px;
}
.btn-info,
button.btn-primary {
	background-color: #006094;
	border: none;
	font-family: 'robotoblack', sans-serif;
	font-size: 12px;
	padding: 12px 30px;
}
.btn-info:hover,
button.btn-primary:hover {
	background-color: #41a5dc;
}

.area-mapa,
.area-mapa > iframe {
	height: 466px;
	width: 100%;
}

header.interna-header {
	border-bottom: 3px solid rgba(153,153,153,.2);
	margin-bottom: 35px;
	padding-bottom: 20px;
}
header.interna-header.no-border {
	border-bottom: none;
	padding-bottom: 0;
}
header.interna-header h2 {
	color: #006094;
	font-family: 'playfair_displaybold', serif;
	font-size: 28px;
	margin-top: 30px;
	padding-bottom: 10px;
}
header.interna-header p {
	color: #656565;
	font-size: 12px;
}
section.quem-somos .img-responsive {
	margin-top: 40px;	
}
section.area-missao {
	background-image: url(../imagens/fundo-meio-nossa-casa.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 500px;
}
section div.texto {
	border-bottom: 3px solid rgba(153,153,153,.2);
}
section.area-missao .interna-header,
section.area-missao div.texto {
	border-bottom: none;
}

.area-conheca-casa {
	border-bottom: 3px solid rgba(153,153,153,.2);
	padding-bottom: 20px;
}
.area-conheca-casa .cycle-nav {
	background-color: #FFF;
	float: right;
	padding-left: 30px;
	position: relative;
	top: 35px;
}
.area-conheca-casa .cycle-nav .btn {
	background-color: #41a5dc;
	color: #FFF;
}
.area-conheca-casa .cycle-nav .btn.disabled {
	opacity: .4;
}
.cycle-galeria {
	width: 256px;
}
.cycle-galeria .item {
	display: inline-block;
	vertical-align: top;
	width: 256px;
}
@media (min-width: 768px) {
	.cycle-galeria {
		width: 542px;
	}
	.cycle-galeria .item {
		margin-right: 30px;
	}
}
@media (min-width: 992px) {
	.cycle-galeria {
		width: 858px;
	}
}
@media (min-width: 1200px) {
	.cycle-galeria {
		width: 1114px;
	}
}
.cycle-galeria .item > a {
	color: #656565;
	display: block;
	text-align: center;
	text-decoration: none;
	height: 224px;
}
.cycle-galeria .item figure {
	height: 186px;
	position: relative;
	overflow: hidden;
}
.cycle-galeria .item figure:before {
	align-items: center;
	background-color: rgba(0,96,148,.6);
	color: #FFF;
	content: 'AMPLIAR IMAGEM';
	display: flex;
	font-family: 'robotoblack', sans-serif;
	font-size: 12px;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0.0;
	position: absolute;
	top: 0;
	transform: scale(.8);
	transition: all .2s linear;
	width: 100%;
}
.cycle-galeria .item figure:hover:before {
	opacity: 1.0;
	transform: none;
}
.cycle-galeria .item figure:hover:after {
	border: 1px solid #fff;
	content: '';
	height: 90%;
	left: 5%;
	position: absolute;
	top: 5%;
	width: 90%;
}
.cycle-galeria .item .nome {
	font-family: 'playfair_displayregular', serif;
	margin-top: 10px;
}

.informacoes-contato p {
	color: #656565;
	font-size: 14px;
	line-height: 130%;
	margin-bottom: 20px;
	padding-left: 28px;
	position: relative;
}
.informacoes-contato p .fa {
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 0;
}
.box-cuidamos {
	border-bottom: 1px solid #dedede;
	margin-bottom: 30px;
	padding-bottom: 15px;
}
.box-cuidamos,
.box-cuidamos > a {
	height: auto;
}
.box-cuidamos .chamada {
	margin-bottom: 30px;
}
.box-cuidamos .btn-info {
	border-radius: 2px;
}

.interna-cuidamos header {
	border-top: 2px solid #dedede;
	padding: 30px 0;
}

.interna-cuidamos h3 {
	font-family: 'robotomedium',sans-serif;
	font-size: 28px;
}
.interna-cuidamos p,
.interna-cuidamos h3 {
	color: #3a5668;
}
.interna-cuidamos p {
	font-size: 14px;
}

.interna-cuidamos div.texto {
	padding-bottom: 40px;
}

.interna-cuidamos .area-fotos figure:hover img,
.interna-cuidamos .area-fotos a:hover img {
	opacity: .8;
}

.interna-cuidamos h4 {
	color: #969696;
	font-family: 'robotomedium',sans-serif;
	font-size: 22px;
	margin: 30px 0;
}

.btn-grey {
	background-color: #dbdbdb;
	color: #006094;
	font-family: 'robotoblack',sans-serif;
	font-size: 12px;
	padding: 12px 25px;
}

.box-dica {
	margin-bottom: 25px;
}
.box-dica > a,
.box-dica > footer {
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
}
.box-dica > a {
	display: block;
	text-decoration: none;
}
.box-dica > a:hover figure img {
	opacity: .8;
}
.box-dica h3 {
	color: #454545;
	font-family: 'robotoblack', sans-serif;
	font-size: 21px;
	margin-bottom: 0;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box-dica footer {
	border-bottom: 1px solid #bdbdbd;
	color: #a7a7a7;
	font-size: 12px;
	line-height: 25px;
	padding: 2px 0;
	text-align: right;
}
.box-dica footer a .fa {
	color: #a7a7a7;
	margin: 0 5px;
}

.dica-detalhes header h2 {
	border-bottom: 1px solid #ddd;
	color: #454545;
	font-family: 'robotoblack', sans-serif;
	font-size: 28px;
	margin-top: 30px;
	padding-bottom: 20px;
}
.dica-detalhes .sub-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}
.dica-detalhes .sub-header a.text-primary {
	color: #006094;
	font-family: 'OpenSansExtraboldItalic', sans-serif;
	font-size: 16px;
}
.dica-detalhes .texto p {
	color: #656565;
}
.dica-detalhes .texto img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}

ul.leia-tambem {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.leia-tambem li {
	border-bottom: 1px solid #dcdcdc;
	padding: 10px 0;
}
ul.leia-tambem li > a {
	color: #656565;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
ul.leia-tambem li > a > div {
	width: 60%;
}
ul.leia-tambem li h4 {
	font-family: 'robotoblack', sans-serif;
	font-size: 18px;
	height: 38px;
	overflow: hidden;
}
ul.leia-tambem li p {
	font-size: 12px;
	height: 30px;
	overflow: hidden;
}
ul.leia-tambem li .data {
	text-align: right;
}
.leia-tambem.mais-lidas li figure {
	position: relative;
}
.leia-tambem.mais-lidas li figure:before {
	background-color: #41a5dc;
	color: #FFF;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 18px;
	height: 25px;
	line-height: 25px;
	width: 25px;
	text-align: center;
}
.leia-tambem.mais-lidas li:nth-child(1) figure:before {content:'1';}
.leia-tambem.mais-lidas li:nth-child(2) figure:before {content:'2';}
.leia-tambem.mais-lidas li:nth-child(3) figure:before {content:'3';}
.leia-tambem.mais-lidas li:nth-child(4) figure:before {content:'4';}
.leia-tambem.mais-lidas li:nth-child(5) figure:before {content:'5';}
.leia-tambem.mais-lidas li:nth-child(6) figure:before {content:'6';}
.leia-tambem.mais-lidas li:nth-child(7) figure:before {content:'7';}
.leia-tambem.mais-lidas li:nth-child(8) figure:before {content:'8';}
.leia-tambem.mais-lidas li:nth-child(9) figure:before {content:'9';}
.leia-tambem.mais-lidas li:nth-child(10) figure:before {content:'10';}

.btn-facebook,
.btn-twitter,
.btn-google-plus,
.btn-facebook:hover,
.btn-twitter:hover,
.btn-google-plus:hover {
	color: #fff;
	font-size: 18px;
	padding: 4px 10px;
}
.btn-facebook {
	background-color: #325c99;
}
.btn-twitter {
	background-color: #02acec;
}
.btn-google-plus {
	background-color: #dd4b39;
}

.box-galeria {
	margin-bottom: 30px;
	text-align: center;
}
.box-galeria a {
	text-decoration: none;
}
.box-galeria .img-responsive {
	display: inline-block;
}
.box-galeria .nome {
	color: #006094;
	font-family: 'playfair_displaybold', serif;
	font-size: 18px;
	margin: 15px 0 10px 0;
}
.box-galeria .info {
	align-items: center;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	color: #999;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 4px 0;
}

.modal .modal-content {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.modal .close {
	color: #fff;
	opacity: 1.0;
	text-shadow: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px;
}

.modal .embed-responsive,
.modal .embed-responsive iframe {
	width: 100%;
}

.carousel-fotos {
	position: relative;
	margin-top: 10px;
}
.carousel-fotos .cycle-slideshow {
	width: 92%;
}
.carousel-fotos .cycle-slideshow .item {
	margin: 0 2px;
}
.carousel-fotos .prev,
.carousel-fotos .next {
	background-color: #026fc2;
	color: #FFF;
	cursor: pointer;
	position: absolute;
	height: 105px;
	padding: 0 5px;
	line-height: 105px;
	text-decoration: none;
	top: 0;
}
.carousel-fotos .prev {
	left: 0;
}
.carousel-fotos .next {
	right: 0;
}

.box-galeria figure.play {
	position: relative;
}

.box-galeria figure.play:after {
	bottom: 0;
	color: #e40000;
	content: '\f04b';
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 30px;
	height: 50px;
	left: 0;
	line-height: 50px;
	margin: auto;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0.5);
	transition: all .2s linear;
	width: 50px;
}
.box-galeria:hover figure.play:after {
	opacity: 1.0;
	transform: none;
}

/* RODAPE */
.site-footer{
	background-color: #11344A;
	color: #FFF;
	min-height:463px;/*taanho do roda*/
	position: relative;
}
.site-footer .azul-claro {
	background-color: #006094;
	padding-bottom: 15px;
	padding-top: 40px;
}
.site-footer h3 {
	color: #FFF;
	font-family: 'playfair_displaybold', serif;
	font-size: 20px;
	margin: 0 0 20px 0;
	padding-bottom: 10px;
	position: relative;
}
.site-footer h3:after {
	content: '';
	border-top: 1px solid #00527F;
	border-bottom: 1px solid #007DC1;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}
.site-footer a {
	color: #FFF;
}

.site-footer p {
	color: #99C7DF;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 13px;
	line-height: 120%;
}

.site-footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.site-footer ul li {
	font-size: 13px;
	line-height: 150%;
	position: relative;
}
.site-footer ul.endereco-rodape li {
	margin-bottom: 15px;
	padding-left: 25px;
}
.site-footer ul li .icone {
	left: 0;
}
.site-footer .endereco-rodape {
	max-width: 297px;
	margin-bottom: 10px;
	padding: 0 0 0 5px;
}
.site-footer .endereco-rodape li {
	position: relative;
}
.site-footer .icone.endereco {
	background-position: -77px -29px;
	height: 16px;
	width: 14px;
}
.site-footer .icone.celular {
	background-position: -77px -45px;
	height: 15px;
	width: 10px;
}
.site-footer .icone.envelope {
	background-position: -87px -50px;
	height: 12px;
	width: 17px;
}

.site-footer ul.links {
	margin-bottom: 30px;
}
.site-footer ul.links li a {
	color: #99C7DF;
	font-size: 14px;
}

.site-footer .fb-page {
	height: 152px;
}

/*Creditos ==========================*/
.site-footer .sub-rodape {
	padding: 40px 0 30px 0;
}
#logo-gv8{
	background: url(../imagens/sprites.png) no-repeat -77px -62px;
	display:block;
	float: right;
	height: 21px;
	margin-right: 0px;
	width: 66px;
}

.creditos {
	font-family: 'Trebuchet MS', 'OpenSansLight', Verdana, sans-serif;
	line-height: 140%;
	margin-bottom: 0;
	text-align: left;
}
.site-footer p.creditos, .creditos a{
	color: #FFF;
	font-size: 12px;
}
.creditos a:hover {
	color: #FFF;
}
@media (max-width: 991px) {
	#menu:after {
		clear: both;
		content: '';
		display: table;
	}
	#logo {
		height: auto;
	}
	.chamada-videos .chamada {
		margin-left: auto;
		margin-right: auto;
	}
	.site-footer {
		height: auto;
	}
	.site-footer .sub-rodape {
		height: auto;
		position: static;
	}
	.site-footer:after {
		clear: both;
		content: '';
		display: table;
	}
}
@media (max-width: 767px) {
	#topo .col-menu,
	#topo .col-menu #menu {
		position: static;
	}
	#menu {
		left: 0;
		min-height: 40px;
		padding: 0 15px;
		z-index: 1000;
		width: 100%;
	}
	#menu > ul {
		background-color: #41a5dc;
		box-shadow: 0 0 10px #005F93;
		padding: 5px;
		position: absolute;
		overflow: hidden;
		right: 0;
		width: 90%;
		top: 60px;
		z-index: 1000;
	}
	#menu > ul > li a {
		color: #FFF;
		font-size: 18px;
		display: block;
		line-height: 40px;
		padding: 0 15px;
		text-align: left;
		transition: none;
	}
	#menu ul li a:active {
		box-shadow: 2px 2px 8px rgba(0,0,0,.5) inset;
	}
	#logo-gv8{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.creditos {
		text-align: center;
	}
	.pagina-contato:before {
		clear: both;
		content: '';
		display: table;
	}
	.pagina-contato {
		padding-top: 30px;
	}
	.area-galerias .container {
		padding: 0 15px;
	}
}
@media (max-width: 479px) {
	.btn-submit {
		display: block;
		float: none;
		min-height: 40px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	#btn-mobile-menu {
		display: none;
	}
	#menu > ul {
		display: block !important;
		max-width: 970px;
		white-space: nowrap;
		width: auto;
	}
	#menu > ul > li {
		display: inline-block;
	}
	#menu > ul > li:first-child {
		padding-left: 0;
	}
	#menu > ul > li:last-child {
		padding-right: 0;
	}
	.text-left-sm {
		text-align: left;
	}
	.site-footer .col-logo {
		text-align: center;
	}
	.site-footer .col-contato {
		padding-left: 38px
	}
	.form-group .control-label {
		text-align: right;
	}
}
@media (min-width: 992px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
		width: 970px !important;
	}
}
@media (min-width: 1200px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
		width: 1140px !important;
	}
}